* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #333;
  --secondary-color: #ddde;
  --thirtiary-color: #fff;
  --hover-color: #555;
}


.layout2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 80vh;
  grid-template-areas:
    'header'
    'main2';
  background-color: var(--secondary-color);
  height: 100vh;
}


.cab {
  display: grid;
  grid-area: header;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.main2 {
  display: flex;
  grid-area:main2;
  background-color: var(--thirtiary-color);
  gap: 2px;
  overflow: auto;
  justify-content: 1fr;
  align-items: 1fr;


}


.graph2 {
  display: flex;
  overflow: auto;

}

